@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  height: 100px;
}

body {
  background: #ffe0c9;
}

.logo > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.8em;
  cursor: pointer;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav li {
  list-style: none;
}

.nav li a {
  color: #000;
  text-decoration: none;
  padding: 1.3em;
  font-size: 1.1em;
}

.nav li a:hover {
  color: #e00000;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

h1 {
  padding: .5em 0 .5em; 
}

p {
  padding-bottom: 1em;
  margin: 0 4.5em;
  line-height: 1.6;
  letter-spacing: 1px;
  word-spacing: 2px;
}

button {
  margin-top: 1em;
  background: #c46521;
  color: #000;
  padding: 12px 45px;
  font-size: 1.1em;
  letter-spacing: 1px;
  border: #c46521;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

button:hover {
  background: #ffbc89;
  border:1px solid #000;
  transform: translateY(10px);
  border-radius: 30px;
}
